# .env for local development, never use .env in production
PASSWORD=
DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
DATABASE_URL=postgres://user:password@localhost:5432/homeenv?sslmode=disable

# For debug
DISABLE_ALERT=false
